.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: 80px 170px;
}

.contactTitle {
	position: relative;
}

.contactTitle h1 {
	padding: 0px 30px;
	font-size: 8rem;
	font-weight: 700;
}

.contactTitle img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.contactSection {
	display: flex;
	gap: 150px;
}

.contactLeft {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.contactLeft h1 {
	font-size: 8rem;
	font-weight: 700;
	background: linear-gradient(260deg, #df8908 -5.09%, #b415ff 106.28%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contactLeft p {
	max-width: 550px;
	font-size: 2rem;
	line-height: 25px;
}

.contactDetails {
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-size: 2.2rem;
}

.contactDetial {
	display: flex;
	align-items: center;
	gap: 20px;
}

.contactRight {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 30px;
}

.contactRight label {
	font-size: 2.2rem;
	font-weight: 500;
}

.contactRight input {
	width: 700px;
	height: 80px;
	background-color: #3b3b3b;
	color: wheat;
	border: none;
	border-radius: 8px;
	padding: 25px;
	color: white;
	font-size: 1.5rem;
}

.contactRight textarea {
	width: 700px;
	height: 200px;
	background-color: #3b3b3b;
	color: wheat;
	border: none;
	border-radius: 8px;
	padding: 25px;
	color: white;
	font-size: 1.5rem;

	resize: none;
}

.contactSubmit {
	width: 200px;
	height: 60px;
	background: linear-gradient(260deg, #df8908 -5.09%, #b415ff 106.28%);
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 2.2rem;
	font-weight: 600;
	cursor: pointer;
	padding: 20px 60px;
	margin-bottom: 50px;
	transition: 0.3s ease;
}

.contactSubmit:hover {
	transform: scale(1.05);
}

@media (max-width: 768px) {
	.contact {
		margin: 50px 70px;
		align-items: start;
		gap: 50px;
	}

	.contactTitle h1 {
		font-size: 5rem;
		padding: 0;
		font-weight: 600;
	}

	.contactTitle img {
		width: 130px;
		margin-right: -20px;
	}

	.contactSection {
		flex-direction: column;
	}

	.contactLeft h1 {
		font-size: 6rem;
	}

	.contactLeft p {
		font-size: 1.8rem;
	}

	.contactDetail {
		gap: 20px;
	}

	.contactDetail img {
		width: 25px;
	}

	.contactRight label {
		font-size: 20px;
	}

	.contactRight input {
		width: 100%;
		font-size: 2rem;
	}

	.contactRight textarea {
		width: 100%;
		font-size: 2rem;
	}

	.contactSubmit {
		font-size: 2rem;
		padding: 15px 40px;
	}
}
