.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 170px;
	/* border: 1px solid red; */
}
.navMenu {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 60px;
	font-size: 20px;
	/* border: 1px solid red; */
}

.navConnect {
	padding: 20px 40px;
	border-radius: 50px;
	background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
	font-size: 24px;
	cursor: pointer;
	transition: 0.2s;
}

.navConnect:hover {
	transform: scale(1.05);
	/* font-size: 1.4rem; */
}

.navConnect:hover {
	transform: scale(1.05);
}

.navMenu li {
	display: flex;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}

.navMenu li img {
	display: flex;
	margin: auto;
}

.navbar img {
	transition: 0.2s;
}

.navbar img:hover {
	transform: scale(1.1);
}

.anchorLink {
	text-decoration: none;
	color: white;
}

.openNav {
	display: none;
}

.closeNav {
	display: none;
}

@media (max-width: 768px) {
	.navbar {
		margin: 20px 50px;
	}
	.navConnect {
		display: none;
	}
	.openNav {
		display: block;
		position: fixed;
		right: 30px;
		cursor: pointer;
	}
	.closeNav {
		display: block;
		position: relative;
		top: 30px;
		left: 290px;
		width: 30px;
		cursor: pointer;
	}

	.navMenu {
		position: fixed;
		flex-direction: column;
		align-items: start;
		top: 0;
		gap: 30px;
		background-color: #2a2a2a;
		width: 350px;
		height: 100%;
		z-index: 2;
		transition: right 0.5s;
		right: -400px;
	}

	.navMenu li {
		font-size: 3rem;
		padding-left: 100px;
		flex-direction: row;
		gap: 20px;
	}
}
